@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #197dffff;
  --color-secondary: #151718;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #f2f2f2;
  --color-darkgray: #333;
  --color-transparent : #000;
}

.royalwave {
  background: linear-gradient(to right, #0d1a33, #153b66, #197dff);
}
.midnightRoyal {
  background: linear-gradient(to right, #010b19, #0b1d3a, #1a3c66);
}
.deepMatte {
  background: linear-gradient(to right, #151718, #0c0908, #030911);   
}
.abyssCurrent {
  background: linear-gradient(to right, #03080F, #0D1A28, #197dff);
}
.abyssBlue {
  background: linear-gradient(135deg, #040A12 0%, #122B44 50%, #197dff 100%);
  border: 1px solid #197dffff;
}
.btn {
  @apply bg-[linear-gradient(135deg,#040A12_0%,#122B44_50%,#197dff_100%)] border border-[#197dff] text-white px-4 py-2 rounded-md;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */